<app-header></app-header>
<app-sidenav></app-sidenav>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-white b-b-none wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h4 class="m-n font-bold ">User's Role</h4>
        </div>
        <div class="col-sm-6 text-right poppins hidden-xs">
          <a href="/add-role" class="btn m-b-xs btn-sm text-10 btn-info btn-3d add-role-model"><i
            class="fa fa-plus"></i> Add Role</a>
        </div>
      </div>
    </div>

  </div>


 
